*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    /* font-family: 'DM Sans', sans-serif; */
    
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 16rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #77b5da 100%);
}

h1{
    color: #fff;
    display: relative;
}
main{
    text-align: center;
    width: 100%;
    min-width: 32rem;
}

.btnConsultar{
    position: relative;
    left: calc(50% - 116px);
    /* top: 27rem;  */
    display: block;
    margin-top: 1rem; 
    margin-bottom: 2rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: rgb(231, 218, 218);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
}
.contenedor-empleado{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    margin-bottom: 2rem;
    /* min-width: 32rem;
    height: 100%; */

}
.articleEmpleado{
    margin: 0 2rem;
    background-color: aquamarine;
    border-radius: 0.5rem;
}
.total{
    font-size: 1.8rem;
    font-weight: bold;
    
}

.parrafo{
    font-size: 1.4rem;
}